.light-about-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dark-about-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-img {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .about-img {
    width: 10%;
  }
}
.light-about-heading {
  color: #000000;
  font-family: roboto;
}
.dark-about-heading {
  color: #ffffff;
  font-family: roboto;
}
